{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- add-patient24:06-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    <title>Doctor's Portal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style2.css' %}">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>


<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="index-2.html" class="logo">
					<img src="{% static 'assets/img/logo/abstrix_wobg.png' %}" height  ="35" alt=""> <span>Abstrix</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="{% static 'assets/img/user.jpg' %}" class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">L</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">G</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'assets/img/user.jpg' %}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>{{dname}}</span>
                    </a>
					<div class="dropdown-menu">
						
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="logout1">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="logout1">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="doctor_dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						
                        <li class="active">
                            <a href="#"><i class="fa fa-wheelchair"></i> <span>Add Patient</span></a>
                        </li>
                        
                        <li>
                            <a href="settings.html"><i class="fa fa-cog"></i> <span>Settings</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="card m-5 p-4">
                <div class="tab-content text-center" id="pills-tabContent">
                    <div class="tab-pane fade show active text-center" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                   
                        <form action="add_patient_1_verification" method="POST" id="otpvalidation">
                            {% csrf_token %}
                                <div class="form-group row justify-content-center align-items-center text-center">
                                    <div class="col-sm-2">
                                        <label for="inputlastname">Mobile Number</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" name="p-mobile" class="form-control" id="inputmobile" placeholder="Enter Mobile number" required autofocus>
                                    </div>
                                    <div class="col-sm-2">
                                        <button id="send_otp_btn" name="send_otp_btn" class="btn btn-primary" onclick="otp_fun()">Send OTP</button>
                                    </div>
                                </div>
                          <!--/form-->

                    
                          <!--form action="?" method="POST"-->
                                <div class="form-group row justify-content-center align-items-center text-center"> 
                                    <div class="col-sm-2">
                                        <label for="inputotp">OTP</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" name="inputotp" class="form-control" id="inputotp" placeholder="Enter OTP" value ="">
                                    </div>
                                    <div class="col-sm-2">
                                        <button id="verify_btn" class="btn btn-primary px-4" name = "verify_btn" onclick="otp_verify()" disabled>Verify</button>
                                    </div>
                                    <i class="fa fa-lg fa-check-circle" aria-hidden="true" hidden></i>
                                    <p id="verify_msg"></p>
                                </div>
                                <div class="text-center pt-4">
                                    
                                    <button id = "otp_submit" name = "otp_submit" type="submit" class="btn btn-primary" value="submit" disabled>Confirm</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/select2.min.js' %}"></script>
	<script src="{% static 'assets/js/moment.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>

    <script type="text/javascript">
        function otp_fun(){
            document.getElementById('inputotp').value = Math.floor(Math.random() * 10000);
            document.getElementById('send_otp_btn').disabled = true;
            document.getElementById('verify_btn').disabled = false;
            

        }
        function otp_verify(){
            document.getElementById("verify_msg").innerHTML = " Valid OTP !! ";
            document.getElementById('verify_btn').disabled = true;
            document.getElementById('otp_submit').disabled = false;
        }

    </script>
</body>


<!-- add-patient24:07-->
</html>
