{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- index22:59-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">
    <title>Abstrix - Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style2.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/admin.css'%}">
    
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="admin_dashboard_new.html" class="logo">
					<img src="{%static 'assets/img/logo/abstrix_wobg.png'%}" height  ="35" alt=""> <span>Abstrix</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <!--li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="{%static 'assets/img/user.jpg'%}" class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">L</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">G</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li-->

                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{%static 'assets/img/user.jpg'%}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>{{aname}}</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="logout1_admin">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="logout1_admin">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="admin_dashboard_new.html"><i class="fa fa-dashboard"></i> <span>Overall</span></a>
                        </li>
						
                        <li>
                            <a href="dash1"><i class="fa fa-wheelchair"></i> <span>Patients Dashboard</span></a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
		</div>
		
		<div class="page-wrapper">
            <div class="card pt-5">
                <div class="tab-content text-center" id="pills-tabContent">
					<h2>Welcome {{aname}}</h2>
                    <div class="tab-pane fade show active text-center mt-5" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                        <form action="?" method="POST" id="otpvalidation">
                                <div class="form-group row justify-content-center align-items-center text-center">
									<div class="form-group col-md-3">
										<label for="inputBacteria">Bacteria Name</label>
										<select name="inputBacteria" class="form-control" id="inputBacteria">
										  <option value="Choice 1">Select any one</option>
										  <option value="Choice 2">Bacteria 1</option>
										  <option value="Choice 3">Bacteria 2</option>
                                          <option value="Choice 4">Bacteria 3</option>
                                          <option value="Choice 4">Bacteria 4</option>
										</select>
									</div>
									<div class="form-group col-md-2">
										<label for="inputYear">Year</label>
										<select name="inputYear" class="form-control" id="inputYear">
										  <option value="Choice 1">Select any one</option>
										  <option value="Choice 2">2015</option>
										  <option value="Choice 3">2016</option>
										  <option value="Choice 4">2017</option>
										  <option value="Choice 5">2018</option>
										  <option value="Choice 6">2019</option>
										  <option value="Choice 7">2020</option>
										  <option value="Choice 8">Other</option>
										</select>
									</div>
                                    <div class="col-sm-2 my-3">
                                        <button type="submit" class="btn btn-primary" value="submit" onclick="">Show Analysis</button>
                                    </div>
                                </div>
                        </form>

                    
                       
                    </div>
                </div>
            </div>
        </div>
   	 </div>
        
        </div>
   
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{%static 'assets/js/jquery-3.2.1.min.js'%}"></script>
	<script src="{%static 'assets/js/popper.min.js'%}"></script>
    <script src="{%static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/jquery.slimscroll.js'%}"></script>
    <script src="{%static 'assets/js/Chart.bundle.js'%}"></script>
    <script src="{%static 'assets/js/chart.js'%}"></script>
    <script src="{%static 'assets/js/app.js'%}"></script>

</body>


<!-- index22:59-->
</html>