{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">
    <title>Abstrix - Dashboard 2</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style2.css'%}">
    <!--link rel="stylesheet" type="text/css" href="{% static 'assets/css/admin.css'%}"-->
    
    
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="admin_dashboard_new.html" class="logo">
					<img src="{%static 'assets/img/logo/abstrix_wobg.png'%}" height  ="35" alt=""> <span>Abstrix</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{%static 'assets/img/user.jpg'%}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>{{aname}}</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="logout1_admin">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="logout1_admin">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="admin_dashboard_new.html"><i class="fa fa-dashboard"></i> <span>Overall</span></a>
                        </li>
						
                        <li>
                            <a href="dash1"><i class="fa fa-wheelchair"></i> <span>Patients Dashboard</span></a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class = "container">
                <div class ='col-sm-12' url-endpoint='{url "fun1"}'>
        
               
        
                <div class="row" style="margin-top: 2rem !important;">
                    <div class="col-sm-12 text-center" style="height: 35vh;">
                        <h3>Overview</h3>
                        <canvas id="myChart" width="20" height="20"></canvas>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top: 2rem !important;">
                    <div class="col-sm-3">
                    <form action="location1" method="POST">
                        {% csrf_token %}
                        <div class="md-form my-3">
                            <label for="id_state">Location</label>
                            <select name="location" class="form-control" id="id_state" required>
                            <option value="values1">Maharashtra</option>
                            <option value="values2">Karnataka</option>
                            <option value="values3">Gujarat</option>
                            </select>
                        </div>
                    </form>
                    </div>
                    <div class="col-sm-3">
                        <form action="location1" method="POST">
                            {% csrf_token %}
                            <div class="md-form my-3">
                                <label for="id_age">Age</label>
                                <select name="age" class="form-control" id="id_age" required>
                                <option value="values1">Below 16</option>
                                <option value="values2">16-30</option>
                                <option value="values3">Above 30</option>
                                </select>
                            </div>
                        </form>
                        </div>
                        <div class="col-sm-3">
                            <form action="location1" method="POST">
                                {% csrf_token %}
                                <div class="md-form my-3">
                                    <label for="id_gender">Gender</label>
                                    <select name="gender" class="form-control" id="id_gender" required>
                                    <option value="values1">Male</option>
                                    <option value="values2">Female</option>
                                    </select>
                                </div>
                            </form>
                            </div>
                </div>

                <div class="row text-center justify-content-center" style="margin-bottom: 2rem;">
                    
                    <div class="col-sm-3" style="width:30vw !important; height: 35vh !important;">
                        <h4>Location-wise</h4>
                        <div>
                            <canvas id="myChart2" width="640" height="250"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-3" style="width:30vw !important; height: 35vh !important;">
                        <h4>Age-wise</h4>
                        <div>
                            <canvas id="myChart3" width="640" height="250"></canvas>
        
                        </div>
                    </div>
                    <div class="col-sm-3" style="width:30vw !important; height: 35vh !important;">
                        <h4>Gender-wise</h4>
                        <div>
                            <canvas id="myChart4" width="640" height="250"></canvas>
                        </div>
                    </div>
                </div>
        
            </div>
            </div>
        </div>
        
        
        
        
        <div class="sidebar-overlay" data-reff=""></div>
        
    
            
           <!--
               <div class="row">
                    <canvas id="myChart2" width="20" height="20"></canvas>
                </div>
                <div class="row">
                    <canvas id="myChart3" width="20" height="20"></canvas>
                </div>

           --> 

<script>
    var endpoint = 'get_data_test1'
    var count1 = []
    var label1= []
    var count2 = []
    var label2 = []

    var c1 = document.getElementById("myChart");
    var c2 = document.getElementById("myChart2");
    var c3 = document.getElementById("myChart3");
    function clearCanvas(obj) {
        obj.height = 5;
    }
    clearCanvas(c1)
    clearCanvas(c2)
    clearCanvas(c3)

    $.ajax({
        method: "GET",
        url:endpoint,
        success: function(data){
            label1 = data.Gender
            count1 = data.count1
            label2 = data.Infection
            count2 = data.count2
            mychart1_func()
            mychart2_func()

            
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    function mychart1_func(){
        var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels:label1,
                    datasets: [{
                        label: 'count',
                        data: count1,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 0.25
                    }]
                },
               
            });
    }
 
    function mychart2_func(){
        var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels:label2,
                    datasets: [{
                        label: 'Count',
                        data: count2,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 0.25
                    }]
                },
               
            });
    }
   
</script>  
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script> 

</body>
</html>