{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Abstrix Admin Portal </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">


    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"> 
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!--link rel="stylesheet" href="{% static 'assets/css/admin.css' %}"-->
    
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder1.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
<header class="container ">
    <nav class="navbar navbar-expand-lg">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <a href="index_icon"><img src="{% static 'assets/img/logo/abstrix_logo_black.png' %}" height="80" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse  navbar-collapse" id="navbarNav" style="margin-left:80%;">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" href="index_icon">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="col-12">
        <div class="mobile_menu d-block d-lg-none"></div>
    </div>
    
</header>
<main>
    <!--? Hero Start -->
    <div class="card border-0 mx-auto">
    <aside class="col-sm-8 mx-auto ">
      <div class="row justify-content-center align-items-start">
        <div class="col-sm-6">
          <div class="card mx-auto border-0">
            <div class="card-header border-bottom-0 bg-transparent">
              <div class="text-center mt-2">
                <h1>ADMIN PORTAL</h1>
              </div>

    <ul class="nav nav-tabs justify-content-center mt-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active text-primary" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login"
             aria-selected="true">Log in</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-primary" id="pills-register-tab" data-toggle="pill" href="#pills-register" role="tab" aria-controls="pills-register"
             aria-selected="false">Sign Up</a>
        </li>
      </ul>
    </div>

    <div class="card-body pb-4">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
          <form action ="sih_admin_login" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="number" name="a-number" class="form-control" id="a-number" placeholder="Mobile No." required autofocus>
            </div>

            <div class="form-group">
              <input type="password" name="a-password" class="form-control" id="a-password" placeholder="Password" required>
            </div>

            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="customCheck1" checked="" type="checkbox">
              <label class="custom-control-label" for="customCheck1">Remember me</label>
            </div>

            <div class="text-center pt-4">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>

            <div class="text-center pt-2">
              <a class="text-primary" href="#">Forgot Your Password?</a>
            </div>
          </form>
        </div>

        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
          <form action="sih_admin_signup" method = "POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="a-first-name" class="form-control" id="a-first-name" placeholder="First Name" required autofocus>
            </div>
            <div class="form-group">
              <input type="text" name="a-last-name" class="form-control" id="a-last-name" placeholder="Last Name" required autofocus>
            </div>
            <div class="form-group">
              <input type="number" name="a-number" class="form-control" id="a-number" placeholder="Mobile no." required autofocus>
            </div>

            <div class="form-group">
              <input type="password" name="a-password1" class="form-control" id="a-password1" placeholder="Password" required>
            </div>

            <div class="form-group">
              <input type="password" name="a-password2" class="form-control" id="a-password2" placeholder="Confirm password" required >
            </div>

            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="customCheck2" checked="" type="checkbox">
              <label class="custom-control-label" for="customCheck2">I accept all terms & condition</label>
            </div>

            <div class="text-center pt-4">
              <button type="submit" class="btn">Sign up</button>
            </div>

            <div class="text-center pt-2">
              <a class="text-primary" href="#pills-login">I already have an account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
        </div>
        </div>
        <div class="col-sm-6 my-4 d-none d-lg-block">
          <div class="svgholder ml-4">
            <img src="../static/assets/img/medicine_svg.svg" height="300" alt="login">
          </div>
        </div>
      </div>
        
    </aside>
</div>
    </main>
    
   

    <!-- JS here -->

    <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static './assets/js/popper.min.js' %}"></script>
    <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static './assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static './assets/js/wow.min.js' %}"></script>
    <script src="{% static './assets/js/animated.headline.js' %}"></script>
    <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static './assets/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.sticky.js' %}"></script>
    
    <!-- counter , waypoint -->
    <script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static './assets/js/waypoints.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.countdown.min.js' %}"></script>
    <!-- contact js -->
    <script src="{% static './assets/js/contact.js' %}"></script>
    <script src="{% static './assets/js/jquery.form.js' %}"></script>
    <script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static './assets/js/mail-script.js' %}"></script>
    <script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static './assets/js/plugins.js' %}"></script>
    <script src="{% static './assets/js/main.js' %}"></script>
    
    </body>
</html>