{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Abstrix Login </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/img/favicon.ico' %}">

    <!-- CSS here -->

    <link rel="stylesheet" href="{%static 'assets/css/main.css' %}"> 
    <link rel="stylesheet" href="{%static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css' %}">
    <script src="https://www.google.com/reCAPTCHA/api.js" async defer></script>
</head>
<body>

    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{%static 'assets/img/logo/loder1.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <header class="container ">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <a href="index_icon"><img src="{%static 'assets/img/logo/abstrix_logo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse  navbar-collapse" id="navbarNav" style="margin-left:80%;">
              <ul class="navbar-nav ">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="logout1">Logout</a>
                </li>
              </ul>
            </div>
          </nav>
        
    </header>
    <main class="hellothere">
      <!--? Hero Start -->
      <div class="container py-4">
        <div class="text-center">
          <h2>UPDATE PROFILE</h2><hr>
        </div>
      
        <form action="register_info_doctor" method="POST">
          {% csrf_token %}
         <div class="row">
          
            <div class="col-sm">
              <div class="card-header border-bottom-0 bg-transparent">
                <h5>Personal Information</h5>
              </div>
              <div class="card-body">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                  <!--form action="register_info_doctor" method="POST"-->
                    
                    <div class="form-group">
                      <label for="inputfirstname">First Name</label>
                    <input type="text" name="d-first-name" class="form-control" id="d-first-name" value = {{d_firstname}} readonly>
                  </div>
                  <div class="form-group">
                      <label for="inputlastname">Last Name</label>
                    <input type="text" name="d-last-name" class="form-control" id="d-last-name" value = {{d_lastname}} readonly>
                  </div>
                  <div class="form-group">
                      <label for="inputEmail">Email</label>
                    <input type="email" name="d-email" class="form-control" id="d-email" placeholder="Email" required autofocus>
                  </div>
                  
                  <div class="form-group">
                      <label for="inputContact">Contact No.</label>
                    <input type="text" name="d-contact-number" class="form-control" id="d-contact-number" value = {{d_contact}} readonly>
                  </div>
                  
                  <div class="form-group">
                      <label for="inputAadhaar">Aadhaar No.</label>
                    <input type="text" name="d-aadhaar" class="form-control" id="d-aadhaar" placeholder="Aadhaar No." required autofocus>
                  </div>
      
                  <div class="form-group">
                    <label for="select-gender">Gender</label>
                    <select name="d-gender" class="form-control" id="d-gender" required>
                      <option value="Choice 1">Select any one</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Other">Other</option>
                    </select>
                 </div>
                      
                  
                 <div class="form-group">
                  <label for="inputage">Age (in years)</label>
                  <input type="text" class="form-control" name = "d-age" id="d-age" placeholder="Enter numeric value only" required>
                 </div>
                  <!--/form-->
                </div>
              </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card-header border-bottom-0 bg-transparent">
                <h5>Professional Information</h5>
              </div>
              <div class="card-body">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                  <!--form action="register_info_doctor" method="POST"-->
                    
                    <div class="form-group">
                      <label for="inputRegNo">Registration No.</label>
                    <input type="text" name="d-RegNo" class="form-control" id="d-RegNo" placeholder="Registration No." >
                   </div>
                  
                   <div class="form-group">
                     <label for="select-qualification">Qualifications</label>
                     <select name="d-qualification" class="form-control" id="d-qualification" required>
                      <option value="Choice 1">Select any one</option>
                      <option value="MBBS">Bachelor of Medicine, Bachelor of Surgery (MBBS, BMBS, MBChB, MBBCh)</option>
                      <option value="MD">Doctor of Medicine (MD, Dr.MuD, Dr.Med)</option>
                      <option value="DO">Doctor of Osteopathic Medicine (DO)</option>
                      <option value="MD(Res)">Doctor of Medicine by research (MD(Res), DM)</option>
                      <option value="PhD">Doctor of Philosophy (PhD, DPhil)</option>
                      <option value="MCM">Master of Clinical Medicine (MCM)</option>
                      <option value="MMSc">Master of Medical Science (MMSc, MMedSc)</option>
                      <option value="MM">Master of Medicine (MM, MMed)</option>
                      <option value="MPhil">Master of Philosophy (MPhil)</option>
                      <option value="CS">Master of Surgery (MS, MSurg, MChir, MCh, ChM, CM)</option>
                      <option value="MSc">Master of Science in Medicine or Surgery (MSc)</option>
                      <option value="DCM">Doctor of Clinical Medicine (DCM)</option>
                      <option value="DClinSurg">Doctor of Clinical Surgery (DClinSurg)</option>
                      <option value="DMSc">Doctor of Medical Science (DMSc, DMedSc)</option>
                      <option value="DS">Doctor of Surgery (DS, DSurg)</option>
                     </select>
                   </div>
        
                   <div class="form-group">
                    <label for="select-specialization">Specialization</label>
                    <select name="d-specialization" class="form-control" id="d-specialization">
                      <option value="Choice 1">Select any one</option>
                      <option value="Podiatrist">Podiatrist</option>
                      <option value="Pediatrician">Pediatrician</option>
                      <option value="Endocrinologist">Endocrinologist</option>
                      <option value="Neurologist">Neurologist</option>
                      <option value="Rheumatologist">Rheumatologist</option>
                      <option value="Allergist">Allergist/Immunologist</option>
                      <option value="Psychiatrist">Psychiatrist</option>
                      <option value="Nephrologist">Nephrologist</option>
                      <option value="OB/GYN">OB/GYN</option>
                      <option value="Pulmonologist">Pulmonologist</option>
                      <option value="Surgeon">Surgeon</option>
                      <option value="Physician">Physician</option>
                      <option value="Ophthalmologist">Ophthalmologist</option>
                      <option value="Oncologist">Oncologist</option>
                      <option value="Urologist">Urologist</option>
                      <option value="Otolaryngologist">Otolaryngologist</option>
                      <option value="Anesthesiologist">Anesthesiologist</option>
                      <option value="Dermatologist">Dermatologist</option>
                      <option value="Radiologist">Radiologist</option>
                      <option value="Gastroenterologist">Gastroenterologist</option>
                      <option value="Cardiologist">Cardiologist</option>
                      <option value="Orthopedist">Orthopedist</option>
                    </select>
                   </div>
          
                   <div class="form-group">
                    <label for="select-practicetime">Practice Time</label>
                    <select name="d-practicetime" id="d-practicetime" class="form-control" id="d-practicetime" required>
                      <option value="Choice 1">Select any one</option>
                      <option value="0">0+ year</option>
                      <option value="1">1 year</option>
                      <option value="2">2 year</option>
                      <option value="3">3 year</option>
                      <option value="5">5+ year</option>
                    </select>
                   </div>
                  <!--/form-->
                </div>
              </div>
              </div>
            </div>
  
            <div class="col-sm">
              <div class="card-header border-bottom-0 bg-transparent">
                <h5>Other Information</h5>
              </div>
              <div class="card-body">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                  <!--form action="register_info_doctor" method="POST"-->
                   
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <textarea type="text" class="form-control" name = "d-address" id="d-address" placeholder="Address"></textarea>
                    </div>
                    
                    <div class="form-group">
                      <label>Country</label>
                      <select class="form-control" name = "d-country" id = "d-country"required>
                          <option value="India">India</option>
                          <option value="Other">Other</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="inputState">State</label>
                      <select name="d-state" class="form-control" id="d-state">
                        <option value="Choice 1">Select any one</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                        <option value="Other">Other</option>
                      </select>
                   </div>
                   <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" name = "d-city" id="d-city" placeholder="Enter City">
                    </div>
                   <div class="form-group col-md-12">
                    <label for="inputPostal">Postal Code</label>
                    <input type="text" class="form-control" name = "d-postal" id="d-postal" placeholder="Enter Postal Code">
                   </div>
                   </div>
                
                   <div class="form-group pb-2">
                    <label for="profilepic">Upload Photo</label>
                    <input type="file" class="form-control-file" name = "d-profile-image" id="d-profile-image" required accept="image/*">
                    </div>
                 <!--/form-->
                </div>
              </div>
              </div>
            </div>
           </div>
           <div class="text-center mb-5"> 
            <!--form action="register_info_doctor" method="POST"-->
              
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="customCheck1" type="checkbox">
                <label class="custom-control-label" for="customCheck1">I take responsibility of above details. They are correct as per my knowledge</label>
              </div>
              <div class="g-reCAPTCHA" data-sitekey="your_site_key"></div>
              <div class="text-center pt-4">
                <button type="submit" class="btn btn-primary" value="submit">Confirm</button>
              </div>
            <!--/form-->
            </div>
            
          </div>
        </form>  

    </main>


    <!-- JS here -->

<script src="{%static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{%static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{%static './assets/js/popper.min.js' %}"></script>
<script src="{%static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{%static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{%static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{%static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
    <script src="{%static './assets/js/wow.min.js' %}"></script>
    <script src="{%static './assets/js/animated.headline.js' %}"></script>
    <script src="{%static './assets/js/jquery.magnific-popup.js' %}"></script>

 
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{%static './assets/js/plugins.js' %}"></script>
    <script src="{%static './assets/js/main.js' %}"></script>
</body>    